#userImage{
    width: 37px;
    border-radius: 30px;
}
#userInfoDiv{
    margin-left: 20px;
    margin-top: 9px;
    margin-bottom: 6px;
}
#userName{
    margin-left: 10px;
    font-size: 21px;
    font-weight: 500;
}
