.project-card-container {
  display: flex;
  justify-content: center;
  transition: 0.3s;
}
.project-card-container:hover {
  transform: translateY(-6px);
  transition: 0.3s;
}
.project-card {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.11);
  border-radius: 5px;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  max-width: 470px;
  color: #1b3a57;

  background: white;
}

.project-card-info {
  /* margin-top: 8px; */
  padding: 0px 8px;
  font-size: 13px;
}
.project-description {
  font-size: 13px;
}

.project-card-img {
  width: 97%;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.project-card-content {
  text-align: center;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  padding: 5px 15px;
  padding-top: 5px;
  /* background: #f9f9f9; */
}

.project-name {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  /* margin-top: 5px;
  margin-bottom: 5px; */
}

.project-technologies {
  margin: 10px 0px;
  text-align: center;
  padding-left: 15px;
}

.project-name-text {
  /* color: #4b4f4e; */
  font-size: 24px;
  /* font-weight: bold; */
  padding: 4px 2px;
}
.project-card-avatar {
  background: #f661ff;
  position: absolute;
  margin-top: 1px;
  /* display: flex; */
  z-index: 1;
  margin-top: -29px;
  border-radius: 3px;
  margin-left: 11px;
  padding: 7px 13px;
}
