.skills-card {
  padding: 0px 15px;
}
.skills-section-header {
  font-size: 15px;
  border-bottom: 1px solid #dedede;
  padding-bottom: 3px;
  margin-top: 15px;
}
.skills-section-body {
  margin-bottom: 7px;
  margin-top: 5px;
}
.skills-intro {
  font-size: 14px;
  margin: 10px 0 15px 0;
}
