#contact-page {
  padding: 15px 10px 0 10px;
  height: 100%;
  overflow-y: auto;
}
.contact-text {
  margin-left: 10px;
}
.contact-type {
  margin-bottom: 25px;
}
.contact-types {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-form-container {
  display: flex;
  justify-content: center;
}
.colors-anim-text {
  color: #fff;
  font-size: 15px;
  background: linear-gradient(
    to right,
    var(--color-1),
    var(--color-4),
    var(--color-5)
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
