.nav-bar-toggle-button {
  display: none;
}
.nav-button {
  position: relative;
  margin: 0px 10px;
  padding: 12px 5px;
  cursor: pointer;
  color: white !important;
  border: 0;
  background: none;
}

.selected-nav-item {
  color: var(--color-6) !important;
}
div.navbar-nav .nav-button:before,
div.navbar-nav .nav-button:after {
  position: absolute;
  opacity: 0;
  font-size: 27px;
  top: 0px;
  transition: all 0.6s;
}
.navbar {
  padding: 0;
  z-index: 1;
}

.opacity-animation {
  position: absolute;
  width: 100%;
  top: 0;
  background: linear-gradient(
    115deg,
    var(--color-1) 10%,
    var(--color-4),
    var(--color-5)
  );
  transition: 0.6s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  opacity: 1;
}

.navbar-first-page {
  background: unset;
  box-shadow: unset;
  transition: 0.2s;
  opacity: 0;
}
div.navbar-nav .nav-button:before {
  content: "[";
  left: -10px;
  top: 4px;
  transform: translateX(10px);
}

div.navbar-nav .nav-button:after {
  content: "]";
  right: -10px;
  top: 4px;
  transform: translateX(-10px);
}

.nav-button:hover {
  color: var(--text-color-2) !important;
}
div.navbar-nav .nav-button.selected-nav-item:before,
div.navbar-nav .nav-button.selected-nav-item:after {
  opacity: 1;
  transform: translateX(0px);
}

.nav-bar-expand-button {
  display: none;
}
.navbar-nav {
  width: 99% !important;
}

.expanded-nav-bar {
  display: block !important;
}
.navbar-nav {
  justify-content: flex-end;
  width: 100%;
}
@media (max-width: 992px) {
  .nav-bar-expand-button {
    display: inline-block;
  }
  .container {
    display: none;
  }
  .selected-nav-item {
    border-bottom: 0px;
  }
  div.navbar-nav .nav-button:before {
    display: none;
  }

  div.navbar-nav .nav-button:after {
    display: none;
  }
  .navbar-nav {
    justify-content: unset;
  }

  .navbar-collapse {
    background: #2b2b2b;
  }
  .nav-bar-toggle-button {
    margin-right: 10px;
    margin-top: -3px;
    display: block;
    cursor: pointer;
  }
}
