@import url("https://fonts.googleapis.com/css?family=Cairo|Rubik&display=swap");
:root {
  /* Global colors */
  --main-blue: #0d4a7b;
  --main-green: #1ad4b1;
}

html {
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div {
  font-family: "Rubik", serif;
}

/* code {
  font-family: Raleway,source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
