@import url("https://fonts.googleapis.com/css?family=Cairo|Rubik|Roboto+Slab&display=swap");
@import "~react-image-gallery/styles/css/image-gallery.css";
@import "./assets//styleVars.css";
@import "./styles/technology-item.css";

html {
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Using important to overwrite bootstrap default body color */
  color: var(--text-color-1) !important;
}
*:not(.ignore-global-text-color) {
  font-family: "Rubik", serif;
  /* color: green; */
}

.styles_modal__gNwvD {
  padding: 0px 8px 8px 8px;
}

.page-header {
  font-size: 35px;
  font-family: "Roboto Slab";
  padding: 30px 0;
  text-align: center;
}
.page-subtitle-text {
  font-size: 17px;
  color: #4e4e4e;
}

.button-hover:hover {
  background: var(--color-4);
  box-shadow: 0 0 0 3px rgba(4, 94, 201, 0.1);
  transform: scale(0.9);
  cursor: pointer;
  transition: 0.3s;
}
.Toastify__toast--default {
  background: var(--color-5) !important;
  color: white !important;
}
.Toastify__close-button--default {
  color: #bbbbbb !important;
  opacity: 1 !important;
}
@media (min-width: 1025px) {
  /* width */
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #cccccc;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #cccccc;
  }
}

.un-styled-list {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}
