@import url("https://fonts.googleapis.com/css?family=Cairo|Rubik|Roboto+Slab&display=swap");
@import "~react-image-gallery/styles/css/image-gallery.css";
@import "./assets//styleVars.css";

:root {
  /* Global colors */
  --main-blue: #1c7aca;
  --main-green: #1ad4b1;
  --main-gradient: linear-gradient(to left, #277abf, #0c5397);
}

html {
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div {
  font-family: "Rubik", serif;
}

.styles_modal__gNwvD {
  padding: 0px 8px 8px 8px;
}

.pageHeader {
  color: #1b3a57;
  /* font-family: "Google Sans",sans-serif; */
  font-size: 35px;
  font-family: "Roboto Slab";
  padding-bottom: 30px;
  text-align: center;
}
.pageSubtitleText {
  font-size: 17px;
  /* font-family: "Roboto Slab"; */
  color: #4e4e4e;
}
.pageHeaderText {
  /* border-bottom: 1px solid #bbbbbb;
  padding: 0px 14px;
  padding-bottom: 5px;
  background: linear-gradient(
    to bottom,
    var(--color-1) 0%,
    var(--color-5) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent; */
}
.buttonHover:hover {
  background: #04c2c9;
  box-shadow: 0 0 0 3px rgba(4, 94, 201, 0.1);
  transform: scale(0.9);
  cursor: pointer;
  transition: 0.3s;
}
.Toastify__toast--default {
  background: var(--color-5) !important;
  color: white !important;
}
.Toastify__close-button--default {
  color: #bbbbbb !important;
  opacity: 1 !important;
}
@media (min-width: 1025px) {
  /* width */
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #cccccc;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #cccccc;
  }
}
