.iconButton {
  display: flex;
  align-items: center;
  font-weight: normal;
  padding: 6px 10px;
  background: #02335357;
  margin-right: 10px;
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 160px;
}
.iconButton:hover {
    background: #8888888a;
    transition: 0.3;
}
.iconButtonText {
  font-size: 14px;
  margin-left: 10px;
}
