.icon-button {
  display: flex;
  align-items: center;
  font-weight: normal;
  padding: 9px 17px;
  border: 0;
  background: #00000021;
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-right: 10px;
  margin-bottom: 10px;
}

.icon-button-text {
  font-size: 15px;
  margin-left: 10px;
}
@media (max-width: 480px) {
  .icon-button {
    margin-right: 4px;
  }
}
