.projects-info {
  padding: 5px 10px;
}
.styles_modal__gNwvD {
  border-radius: 5px;
  background: #f6f7f9;
  overflow: hidden;
}
.gallery {
  max-width: 85vw;
  margin: 9px 3px;
  border: 1px solid #d8d8d8;
  padding: 5px;
  border-radius: 5px;
}
.project-info-name {
  font-size: 27px;
  margin-top: 7px;
}
.project-info-subtitle {
  font-size: 14px;
  margin-top: -5px;
  padding-bottom: 4px;
  margin-right: 5px;
  border-bottom: 1px solid #d8d8d8;
}

.project-info-description {
  font-size: 13px;
  margin-top: 14px;
  margin-bottom: 15px;
  padding: 0px 16px;
}

.styles_closeIcon__1QwbI {
  width: 30px;
  height: 30px;
  fill: #a2a2a2;
}
/* .styles_closeButton__20ID4 {
    bottom: 2px ;
    right: 2px ;
    top: unset;
    
} */
.image-gallery-left-nav,
.image-gallery-right-nav {
  font-size: 2.5em;
  padding: 0px 15px;
}
.image-gallery-slides {
  border-radius: 3px;
}
/* .image-gallery-slide-wrapper{
height: 350px;
} */
.styles_closeIcon__1QwbI {
  width: 23px;
  height: 23px;
}
.project-link {
  height: 20px;
  width: 20px;
  margin-bottom: 4px;
  margin-left: 5px;
}

.github-repo-icon {
  height: 20px;
  width: 20px;
  margin-bottom: 4px;
  margin-right: 5px;
}

.project-info-repo {
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
}

.project-info-repo-link {
  height: 17px;
  width: 17px;
  margin-bottom: 1px;
  margin-left: 5px;
}
.project-info-technologies-container {
  margin: 1px 10px;
}
