.homeIcons{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.homeIconsRow{
    display: flex;
    /* flex-direction: row; */
}
.homeIconsCol{
    width: 80px;
    height: 110px;
    margin: 0px 0px;
}
.homeIconsBorder{
    background: #014e673b;
    height: 29px;
    transform: rotate(137deg) translateX(94px) translateY(-60px) scaleX(3);
}
@media  (max-width: 480px) {
    .homeIcons{
        display: none;
    }
    
  }
