#aboutPage {
  height: 100%;
  padding-top: 15px;
  overflow-y: auto;
  overflow-x: hidden;
}
.profileImage {
  border-radius: 50%;
  width: 190px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
.aboutMeHeader {
  font-size: 25px;
  color: var(--color-1);
  margin: 10px 0px;
}

.aboutMeText {
      font-size: 13.4px;
      text-align: left;
      margin-bottom: 15px;
      
}

.aboutMeDiv {
  padding: 0px 15px;
}

.aboutMeInfoItemContainer {
  margin-bottom: 12px;
  font-size: 15px;
  /* color: #797979; */
}

.aboutMeInfoItemsSeperator {
  /* padding-bottom: 7px; */
}

@media (min-width: 768px) {
  .aboutMeInfoItemsSeperator {
    border-right: 1px solid #bbbbbb;

    /* padding-bottom: 7px; */
  }
  .aboutMeText {    
    padding: 0px 10%;
}
  .abouteMeInfoItem:nth-child(1){
    text-align: center;
  }
  .abouteMeInfoItem:nth-child(2){
    text-align: center;
  }
}
