#aboutPage {
  height: 100%;
  padding-top: 15px;
  overflow-y: auto;
  overflow-x: hidden;
}
.profileImage {
  border-radius: 50%;
  width: 190px;
  /* box-shadow: 0 1px 5px 0px rgb(115, 119, 255); */
  background: #e8e8e8;
}
.aboutMeHeader {
  font-size: 25px;
  color: #1b3a57;
  margin: 10px 0px;
}

.aboutMeText {
  font-size: 16px;
  text-align: left;
  margin-bottom: 15px;
  color: #1b3a57;
}

.aboutMeDiv {
  padding: 0px 15px;
}

.aboutMeInfoItemContainer {
  margin-top: 20px;
  margin-bottom: 12px;
  font-size: 15px;
  color: #1b3a57;
  /* color: #797979; */
}

.aboutMeInfoItemsSeperator {
  /* padding-bottom: 7px; */
}

@media (min-width: 768px) {
  .aboutMeInfoItemsSeperator {
    border-right: 1px solid #bbbbbb;

    /* padding-bottom: 7px; */
  }
  .aboutMeText {
    padding: 0px 10%;
  }
  .abouteMeInfoItem:nth-child(1) {
    text-align: center;
  }
  .abouteMeInfoItem:nth-child(2) {
    text-align: center;
  }
}
